ul > li > a  {
	text-decoration: none;
	color: white;
}

ul > li > a:hover {
	text-decoration: underline;
}

font {
	font-size: 18px;
}

.font_header {
	font-size: 40px;
}

.fontforfooter {
	font-size: 15px;
	text-align: center;
	color: #fff;
}

header {
	color: #fff;
}

footer {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.container__persona {
	perspective: 1000px; 
	width: 350px; 
	height: 450px; 
	margin: 0 15px; 
	display: inline-block; 
}

.persona {
	position: relative; 
	cursor: pointer; 
	width: 350px; 
	height: 450px; 
	transition: 1s;
	transform-style: preserve-3d;
}

.container__persona:hover .persona {
	transform: rotateY(180deg);  
 }

.persona__foto {
	width: 350px; 
	height: 450px; 
	overflow: hidden;
	z-index: 2; 
	position: absolute; 
	top: 0; 
	left: 0; 
	backface-visibility: hidden; 
	border-radius: 15px; 
}

.persona__info {
	background-color: #000;
	width: 350px; 
	height: 450px; 
	text-align: center; 
	position: absolute; 
	top: 0; 
	left: 0; 
	z-index: 1; 
	backface-visibility: hidden; 
	transform: rotateY(180deg); 
	border-radius: 15px; 
}

.persona__info > h3 {
	padding-top: 15px; 
	color: #f3f3f3; 
}

.persona__info > a {
	color: #f3f3f3; 
	display: block; 
	margin: 20px auto; 
	text-decoration: none; 
}

.persona__info > a > i {
	color: #fff; 
	font-size: 32px;
	display: block; 
	margin-bottom: 10px; 
} 

@media screen and (max-width: 1024px) and (min-width: 769px) {
			h1 {
				color: #CC3399;
			}
			.font_header {
     			font-size: 40px;
			}
		}
		@media screen and (max-width: 628px) {
			h1 {
				color: #fff;
			}
			.font_header {
     			font-size: 20px;
			}
		}
		@media screen and (max-width: 768px) and (min-width: 321px) {
			.menu1 > li > a > font-color {
				background-color: #CC3399;
			}
			h1 {
				font-variant: small-caps;
			}
		}


